.header {
  height: 100px;
  width: 90%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  position: fixed;
  z-index: 5;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
}
.nav {
  height: 100%;
}
.ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.a {
  display: flex;
  font-weight: bold;
}
.join {
  color: #fff;
  background: #de9044;
  padding: 10px 50px;
  border-radius: 50px;
}