.section {
  background-color: #f7eee6;
  padding: 200px 0;
}
.access {
  display: flex;
  justify-content: space-evenly;
  border: 5px solid #fff;
  margin: auto 100px;
  padding: 100px 0;
}
.access_left {
  margin: 150px 0 0;
}
.access_left div {
  margin: 50px 0 0 0;
}
.access_image {
  height: 300px;
  width: 400px;
  margin: -300px 0 0 0;
}
.access_image iframe {
  margin: 50px 0;
  width: 450px;
  height: 300px;
}
.section h3 {
  font-size: 60px;
  width: 400px;
  height: 100px;
  background-color: #de9044;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  border-radius: 50px;
  position: relative;
  margin-top: -300px;
}
.section h3::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #de9044 transparent transparent transparent;
  border-width: 20px 20px 0 20px;
}
.section h3 svg {
  filter: brightness(0) invert(1);
}
