.section {
  padding: 200px 0 0;
  color: #6e6e6e;
  text-align: center;

}
.section h3 {
  text-align: center;
  font-size: 60px;
}
.ul {
  margin: 25px auto 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul button {
  margin: 0 auto;
  padding: 10px 12px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  color: #6e6d6e;
  opacity: 0.6;
  font-weight: bold;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  cursor: pointer;
}
.ul button:hover {
  opacity: 0.4;
}
.ul article {
  height: 350px;
  width: 300px;
  margin: 0 10px;
  cursor: pointer;
}
.ul article:hover {
  opacity: 0.5;
}
/* レスポンシブ */

@media screen and (max-width: 1200px) {
  .ul article {
    width: 250px;
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .ul article {
    width: 300px;
    height: 350px;
  }
}