.section {
  padding: 200px 0 0;
  color: #6e6e6e;
  text-align: center;

}
.section h3 {
  text-align: center;
  font-size: 60px;
}
.ul {
  margin: 25px auto 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ul button {
  padding: 10px 12px;
  border-radius: 50%;
  border: none;
  color: #6e6e6e;
  opacity: 0.6;
  font-weight: bold;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  cursor: pointer;
}
.ul article {
  margin: 0 10px;
}