.section {
  background: #f3e9bb;
  padding: 200px 0;
  color: #6d6d6d;
}
.div {
  display: flex;
  align-items: center;
  text-align: center;
}
.div h2 {
  font-size: 40px;
  flex: 3;
}
.mulunch_font {
  font-family: "TsukuBRdGothic-Regular", sans-serif;
  font-size: 18px;
}
.div p {
  text-align: start;
  flex: 5;
}
.div p span {
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #6d6d6d;
}
.project {
  margin: 100px 0 0 150px;
}
.project h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.grid_upper {
  margin-top: 100px;
  display: grid;
  grid-template:
    "...... upper1 ...... upper2 ...... upper3 ......" 400px
    "...... ...... ......  ...... ...... ...... ......" 50px
    / auto 400px 50px 400px 50px 400px auto;
}

.grid_lower {
  display: grid;
  grid-template:
    "...... lower1 ...... lower2 ......" 400px
    / auto 400px 50px 400px auto;
}
.upper1 {
  grid-area: upper1;
  margin-top: -50px;
}
.upper2 {
  grid-area: upper2;
}
.upper3 {
  grid-area: upper3;
  margin-top: -50px;
}
.lower1 {
  grid-area: lower1;
}
.lower2 {
  grid-area: lower2;
  margin-top: -50px;
}

/* レスポンシブ */
@media screen and (max-width: 1200px) {
  .grid_upper {
    margin-top: 100px;
    display: grid;
    grid-template:
      "...... upper1 ...... upper2 ...... upper3 ......" 350px
      "...... ...... ......  ...... ...... ...... ......" 25px
      / auto 350px 25px 350px 25px 350px auto;
  }
  .grid_lower {
    margin-top: 50px;
    display: grid;
    grid-template:
      "...... lower1 ...... lower2 ......" 350px
      / auto 350px 25px 350px auto;
  }
}
@media screen and (max-width: 600px) {
  .grid_upper {
    margin-top: 100px;
    display: grid;
    grid-template:
      "...... upper1 ...... upper2 ...... upper3 ......" 400px
      "...... ...... ......  ...... ...... ...... ......" 25px
      / auto 400px 25px 400px 25px 400px auto;
  }
  .grid_lower {
    margin-top: 50px;
    display: grid;
    grid-template:
      "...... lower1 ...... lower2 ......" 400px
      / auto 400px 25px 400px auto;
  }
}
