.section {
  height: 1200px;
  position: relative;
}
.div {
  position: absolute;
  top: 64%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  text-align: center;
  color: #fff;
  opacity: 0.6;
}
.svg {
  filter: brightness(1) invert(1);
}