.section {
  height: 120vh;
  position: relative;
  background-image: url("/TV-6.jpg");
  background-size: cover;
  background-position: center;
}
.div {
  position: absolute;
  top: 66%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  animation: key1 0.5s ease infinite alternate;
  cursor: pointer;
}

@keyframes key1 {
  0% {
    transform: translateY(0px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(-15px);
    opacity: 1;
  }
}
.div:hover {
  opacity: 0.5;
}
.svg {
  filter: brightness(1) invert(1);
}

/* レスポンシブ */
@media screen and (max-width: 1400px) {
  .div {
    top: 65%;
  }
}
@media screen and (max-width: 1200px) {
  .div {
    top: 70%;
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .div {
    top: 70%;
    font-size: 30px;
  }
}
