.footer {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
}
.ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a {
  display: flex;
}

.sns_link {
  margin: 0 10px;
}
.mulunch_font {
  font-family: 'TsukuBRdGothic-Regular',sans-serif;
}