.section {
  display: flex;
  justify-content: center;
}
.div {
  flex: 1;
  text-align: center;
}
.mulunch_font {
  font-family: "TsukuBRdGothic-Regular", sans-serif;
  font-size: 60px;
  color: #6e6d6e;
  margin: 100px 0 50px;
}
.concept {
  font-size: 20px;
  font-weight: bold;
  color: #6e6d6e;
  margin: 50px 0 0;
}
.concept p {
  margin: 25px 0 0 0;
}
.concept_logo {
  filter: invert(30%) sepia(100%) saturate(405%) hue-rotate(30deg)
    brightness(90%) contrast(100%);
}

/* レスポンシブ */
@media screen and (max-width: 1400px) {
  .section {
    padding: 200px 0;
  }
}
@media screen and (max-width: 1200px) {
  .section {
    padding: 100px 0;
  }
}
@media screen and (max-width: 600px) {
  .section {
    
    padding: 200px 0;
  }
}

