.main {
  max-width: 1200px;
  margin: 180px auto;
}
.top_container {
  max-width: 600px;
  margin: 175px auto 0;
}

.blog_image {
  max-width: 300px;
  border-radius: 0.5rem;
  object-fit: contain;
}

.posts {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.posts div {
  margin-top: 25px;
}
.posts div img {
  max-width: 600px;
  text-align: center;
}

/* レスポンシブ */
@media screen and (max-width: 1200px) {

}
