.section {
  height: 800px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article_data {
  display: flex;
  justify-content: start;
  align-items: center;
}

.article_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.article_user_link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
